<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SemVer Validator</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <div class="container">
      <h1>SemVer Validator</h1>
      <input type="text" id="version" placeholder="Enter version number" />
      <button onclick="validateVersion()">Validate</button>
      <div id="result" class="result"></div>
    </div>

    <div class="spacer"></div>

    <div class="container">
      <button type="button" class="collapsible">CICD Usage</button>

      <div class="content">
        <p>
          curl -sSL -d "$VERSION" --fail-with-body
          http://localhost:5000/validate
        </p>
      </div>
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>
